<!--The content below is only a placeholder and can be replaced.-->


<h1>To Do List</h1>
<div *ngIf="undefined === restItems">Loading...</div>
<div *ngIf="undefined !== restItems">
  <table>
    <th>Title</th><th>Description</th><th>Date</th><th>Status</th>
    <tr *ngFor="let todo of restItems['data']['docs']" >
        <td >{{todo.title | uppercase }}</td>
        <td [innerHTML]="todo.description"></td>
        <td>{{todo.date | date:'fullDate' }}</td>
        <td [innerHTML]="todo.status"></td>
    </tr>
  </table>
</div>

