<!--The content below is only a placeholder and can be replaced.-->


<h1>New To Do Item</h1>
<div *ngIf="undefined === restItems">Loading...</div>
<div *ngIf="undefined !== restItems">
  <table>
    <th>Title</th><th>Description</th><th>Date</th><th>Status</th>

    <!--<tr *ngFor="let todo of restItems['data']['docs']" >
        <td >{{todo.title | uppercase }}</td>
        <td [innerHTML]="todo.description"></td>
        <td>{{todo.date | date:'fullDate' }}</td>
        <td [innerHTML]="todo.status"></td>
    </tr>-->
  
    <tr>
     <td>Title</td><td><input type="text"/></td>
    </tr>
    <tr>
      <td>Description</td><td><input type="text"/></td>
    </tr>
    <tr>
      <td>Due Date</td><td><input type="date"/></td>
    </tr>
  </table>
</div>

